body {
    background-color: white;
}

h1 {
    color: yellow;
    background-color: navy;
    height: 20%;
    margin: 0px auto 0px auto;
    font-size: 50px;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

#menu-h {
    list-style: none;
    padding: 0;
    background-color: black;
    font-size: x-large;

}

#menu-h li {
    display: inline;

}

#menu-h li a {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

#menu-h li a:hover {
    background-color: red;
}

h3 {

    margin: auto 40px auto 40px;
}

.card {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.duvida {
    
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



.achamos {
    
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:510px) {
    .card{
    width: 90%;
    height: auto;
}
}
@media (max-width:425px){
.duvida{
    text-align:center;
}
}


@media (max-width:425px){
    .achamos{
        text-align:center;
    }
    }

/*azul vermelho amarelo*/
