body {
    background-color:white;
}


.ultima {
    font-size: 30px;
    padding-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}



.servi{
  
  margin-top: 20px;
  padding-left: 5%;
  
  font-family: Arial, Helvetica, sans-serif;
}


.li{
  float: left;
  margin-top: 20px;
  padding-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
}


#letreiro {
    color: whitesmoke;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}




.cards{
  perspective: 500px;
  margin-bottom: 15%;
  margin-right: 10%;
  margin-left: 10%;
}
.card{
  float:right;
  width: 350px;
  height: 180px;
  background: url('./logo.png')
  center no-repeat;
  background-size: cover;
  border: 8px solid
  rgba(red, green, blue, alpha);
  border-radius: 10px;
  position:relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}
.card:hover{
  transform: translateZ(10px)
  rotateX(20deg) rotateY(30deg);
}

.card-title{
  color: black;
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
  transition: transform .5s;
}
.card:hover .card-title{
  transform: translateZ(50px);
}


@media (max-width:510px) {
  .cards{
  width: 96%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}
}
